In [1]:
import pandas as pd
import numpy as np
import kagglehub

In [2]:
path = kagglehub.dataset_download("walekhwatlphilip/intro-to-data-cleaning-eda-and-machine-learning")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Downloading from https://www.kaggle.com/api/v1/datasets/download/walekhwatlphilip/intro-to-data-cleaning-eda-and-machine-learning?dataset_version_number=346...

100%|██████████████████████████████████████| 9.73k/9.73k [00:00<00:00, 5.13MB/s]

Extracting files...

In [5]:
data = pd.read_csv(path+'/bi.csv', encoding='latin1')

In [6]:
data = data.rename(columns = {'fNAME':'first_name',
                       'lNAME':'second_name',
                       'Age':'age',
                       'country':'country_born',
                       'entryEXAM':'result_exam',
                       'prevEducation':'education',
                       'studyHOURS':'study_hours',
                       'Python':'python_score',
                       'DB':'DB_score'})

In [7]:
data['gender'] = data["gender"].apply(lambda x: 'F' if x.startswith('F') or x.startswith('f') else 'M')

In [8]:
data = data.dropna()
data = data.drop_duplicates()

In [9]:
data.education.unique()

array(['Masters', 'Diploma', 'HighSchool', 'High School', 'Bachelors',
       'Barrrchelors', 'diploma', 'DIPLOMA', 'Diplomaaa', 'Doctorate'],
      dtype=object)

In [10]:
data.country_born.unique()

array(['Norway', 'Kenya', 'Uganda', 'South Africa', 'Norge', 'norway',
       'Denmark', 'Netherlands', 'Italy', 'Spain', 'UK', 'Somali',
       'Nigeria', 'Germany', 'France'], dtype=object)

In [11]:
data

,first_name,second_name,age,gender,country_born,residence,result_exam,education,study_hours,python_score,DB_score
0,Christina,Binger,44,F,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,M,Uganda,Sognsvann,55,HighSchool,130,74.0,50
4,Maria,Kedibone,23,F,South Africa,Sognsvann,65,High School,122,91.0,80
5,Hannah,Hansen,25,F,Norge,BI Residence,66,High School,130,88.0,59
...,...,...,...,...,...,...,...,...,...,...,...
72,Clara,Bernard,43,F,France,Private,80,Bachelors,150,75.0,43
73,Julian,Nielsen,31,M,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,F,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,M,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,M,Somali,Sognsvann,35,Masters,144,72.0,90

In [20]:
data.residence = data.residence.apply(lambda x: 'BI_Residence' if x.startswith('BI') else x)

In [26]:
data.country_born = data.country_born.apply(lambda x: 'Norway' if x.startswith('No') or x.startswith('no') else x )

In [38]:
data.python_score = data.python_score.apply(int)

In [41]:
data.education.unique()

array(['Masters', 'Diploma', 'HighSchool', 'High School', 'Bachelors',
       'Barrrchelors', 'diploma', 'DIPLOMA', 'Diplomaaa', 'Doctorate'],
      dtype=object)